In [1]:
# numpy
import numpy as np
# classifier
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import os
from random import shuffle
import pandas
from sklearn import model_selection, preprocessing, naive_bayes
import string
from sklearn.decomposition import LatentDirichletAllocation
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from utilities import read_fileNames, readFilesFromSources, train_model

In [2]:
#create source
sources = []

datapath = './Real_Life_Trial_Data/'

In [3]:
#read file names from datapath
read_fileNames(sources, datapath,'Deceptive')
deceptiveCount=len(sources)
read_fileNames(sources, datapath,'Truthful')
truthCount=len(sources)-deceptiveCount

In [4]:
#read text files from source list
text = []
readFilesFromSources(text,sources)

In [5]:
#create label array corresponding to text files
labels=np.empty(len(sources))
np.concatenate((np.ones(deceptiveCount, dtype=int),np.zeros(truthCount, dtype=int)),out=labels)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0.])

In [6]:
# create a dataframe using texts and lables
trainDF = pandas.DataFrame()
trainDF['text'] = text
trainDF['label'] = labels

In [7]:
trainDF

                                                  text  label
0    No sir I did not. I absolutely did not. No sir...    1.0
1    ... and she approached me, and at that time th...    1.0
2                        No sir I was not, not at all.    1.0
3    He had told me that he had had a dream that, a...    1.0
4    And he told me that, ammm … he was trying to f...    1.0
..                                                 ...    ...
116  Mmm initially ... I've never been on Twitter, ...    0.0
117  I was born in Durango, Colorado. My mother was...    0.0
118  Um whenever I was little, um my oldest nephew ...    0.0
119  We were married for two years, and um, we divo...    0.0
120  Yes um, Reginald and I would have like long ta...    0.0

[121 rows x 2 columns]

In [8]:
# Extracting features from text files
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(trainDF['text'])
X_train_counts.shape

(121, 1449)

In [9]:
# TF-IDF
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf.shape

(121, 1449)

In [10]:

# Machine Learning
# Training Naive Bayes (NB) classifier on training data.
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(X_train_tfidf, trainDF['label'])

In [11]:
# Building a pipeline: We can write less code and do all of the above, by building a pipeline as follows:
# The names ‘vect’ , ‘tfidf’ and ‘clf’ are arbitrary but will be used later.
# We will be using the 'text_clf' going forward.
from sklearn.pipeline import Pipeline

text_clf = Pipeline([('vect', CountVectorizer()), ('tfidf', TfidfTransformer()), ('clf', MultinomialNB())])

text_clf = text_clf.fit(trainDF['text'], trainDF['label'])

In [36]:
with open('sample.txt', 'r') as file:
    data = file.read().replace('\n', '')

In [37]:
data = [data]
# create a dataframe using text
newDF = pandas.DataFrame()
newDF['text'] = data

In [45]:
newDF

                                                text
0  We talked about the same kind of books we like...

In [43]:
predict = text_clf.predict(newDF['text'])

In [44]:
predict

array([0.])